<!doctype html>
<html lang="en">
	<head></head>
	<body>
		<h1>Rosetown Pioneers</h1>
		<table border=1 cellpadding=7>
			<tr>
				<th>row_id</th>
				<th>Grantor</th>
				<th>Grantee</th>
				<th>Book</th>
				<th>Page</th>
				<th>Instrument</th>
				<th>Month</th>
				<th>Day</th>
				<th>Year</th>
				<th>Time</th>
				<th>District</th>
				<th>Lot</th>
				<th>Location</th>
				<th>Price</th>
			</tr>
				{% for obj in object_list %}
			<tr>
				<td><a href="{{ obj.id}}/">{{ obj.row_id }}</a></td>
				<td>{{ obj.grantor }}</td>
				<td>{{ obj.grantee }}</td>
				<td>{{ obj.book }}</td>
				<td>{{ obj.page }}</td>
				<td>{{ obj.instrument }}</td>
				<td>{{ obj.recd_mo }}</td>
				<td>{{ obj.recd_day }}</td>
				<td>{{ obj.recd_yr }}</td>
				<td>{{ obj.recd_time }}</td>
				<td>{{ obj.dist }}</td>
				<td>{{ obj.lot }}</td>
				<td>{{ obj.loc }}</td>
				<td>{{ obj.price }}</td>
			</tr>
			{% endfor %}
		</table>
		<br>
	<i>Source: Grantor Index to Real Estate Deeds and Mortgages, Clayton County, GA</i>
	</body>
</html>